h1{
    color: deeppink;
    font-family: sans-serif;
}

p{
    color: blueviolet;
    font-family: fantasy;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
}

th{
    font-weight: 800;
    background-color: #FF0080;
    color: #ffffff;
}

ul{
    list-style-type: circle;
}

ol{
    list-style-type: disc;
}

#menu-bar a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: aqua;
    padding: 5px;
}

#menu-bar a:hover{
    background-color: aquamarine;
    color:#ffffff;
    
}